# ==============================
# Eclipse / STS
# ==============================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ==============================
# IntelliJ IDEA
# ==============================
.idea
*.iws
*.iml
*.ipr

# ==============================
# NetBeans
# ==============================
/nbproject/private/
# NetBeans build folders
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Maven / Gradle / Build
# ==============================
/target/
/build/
/.mvn/
/.mvnw
/*.log
*.class

# ==============================
# Ignorar a pasta resources, exceto application.yml
# ==============================
/src/main/resources/**
!src/main/resources/application.yml

# ==============================
# Chaves privadas (não versionar)
# ==============================
/src/main/resources/keys/
